header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  nav {
    display: flex;
    justify-content: flex-end;
    width: 65%;
    ul {
      display: flex;
      gap: 31px;
      li {
        list-style: none;
        font-family: "Work Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #850909;
        cursor: pointer;
      }
    }
  }
}

a{
  color: #850909;
}

@media screen and (max-width: 425px) {
  nav {
    display: none;
  }
}
