.tours_tour{
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    .tour_background{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        border-radius: 20px;
    }
}

.tours_tour:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}

.tours_tour:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.tours_tour_information{
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 100%;
    div{
        background: rgba(255, 255, 255, 0.9);
        width: 70%;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 23px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 23px;
        font-family: 'Grape Nuts', cursive;
        font-size: 14px;
        p{
            padding-top: 10px;
            font-size: 10px;
            font-family: "Work Sans", sans-serif;
        }
    }
}