.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  h1 {
    margin-bottom: 32px;
    font-family: "Grape Nuts", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search{
    padding-top: 50px;
    input{
      min-width: 300px;
      max-width: 600px;
    }
    span{
      button{
        background-color: #000000 !important;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .card_content{
    margin-top: 50px;
  }
}

@media screen and (min-width: 1001px){
  .card_content{
    margin-top: 100px;
  }
}
