.main {
  position: relative;
}

img {
  width: 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  height: auto;
  position: absolute;
  width: 100%;
  top: 0;
  .first {
    text-align: center;
    h1 {
      font-family: "Abril Fatface", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 65px;
      color: #ffffff;
    }
    h2 {
      font-family: "Grape Nuts", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 39px;
      color: #ffffff;
    }
    p {
      padding-top: 60px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 1340px) {
  .section {
    padding-top: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    padding-top: 200px;
  }
}

@media screen and (max-width: 1080px) {
  .section {
    padding-top: 150px;
  }
}

@media screen and (max-width: 950px) {
  .section {
    padding-top: 100px;
  }
}

@media screen and (max-width: 769px) {
  .section {
    padding-top: 100px;
    .first {
      h1 {
        font-family: "Abril Fatface", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 65px;
        color: #ffffff;
        text-align: center;
      }
      h2 {
        font-family: "Grape Nuts", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 39px;
        color: #ffffff;
        text-align: center;
      }
      p {
        padding-top: 40px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 644px) {
  .section {
    padding-top: 70px;
    .first {
      h1 {
        font-family: "Abril Fatface", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 65px;
        color: #ffffff;
        text-align: center;
      }
      h2 {
        font-family: "Grape Nuts", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 39px;
        color: #ffffff;
        text-align: center;
      }
      p {
        padding-top: 40px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 566px) {
  .section {
    padding-top: 60px;
    .first {
      h1 {
        font-family: "Abril Fatface", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 65px;
        color: #ffffff;
        text-align: center;
      }
      h2 {
        font-family: "Grape Nuts", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 39px;
        color: #ffffff;
        text-align: center;
      }
      p {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .section {
    padding-top: 100px;
    .first {
      h1 {
        font-family: "Abril Fatface", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
      }
      h2 {
        font-family: "Grape Nuts", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 39px;
        color: #ffffff;
        text-align: center;
      }
      p {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .section {
    padding-top: 70px;
    .first {
      h1 {
        font-family: "Abril Fatface", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #ffffff;
        text-align: center;
        padding: 5px;
      }
      h2 {
        font-family: "Grape Nuts", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 39px;
        color: #ffffff;
        text-align: center;
      }
      p {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 335px) {
  .section {
    padding-top: 70px;
    .first {
      h1 {
        font-family: "Abril Fatface", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 20px;
        color: #ffffff;
        text-align: center;
        padding: 5px;
      }
      h2 {
        font-family: "Grape Nuts", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 39px;
        color: #ffffff;
        text-align: center;
      }
      p {
        display: none;
      }
    }
  }
}
